body {
    margin: 0;
    margin-left: 250px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 100%;
    position: fixed;
    border-right: 1px black double;
    width: 250px;
    top: 0;
    left: 0;
}

.five_churches_logo {
    width: 200px;
    height: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.table {
    width: 100%;
    font-size: 20px;
    text-align: start;
    padding-top: 25px;
}

li {
    padding: 12.5px 0;
    border-bottom: 1px black solid;
    padding-left: 25px;
    
}

.no_border {
    border: 0
}

a {
    text-decoration: none;
}

li:hover {
    background-color: rgb(228, 228, 228);
}

a:visited {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
}


.box {
    width: 100%;
    height: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
}

h1, h2, h3, h4 {
    margin: 0;
}

.boxmedium {
    width: 50%;
    height: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
}

.boxlow {
    width: 33%;
    height: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
}

h1, h2 {
    padding-left: 30px;
}

h3 {
    padding-left: 15px;
}

h4, p {
    padding-left: 7.5px;
}