body {
    height: 700vw;
    margin: 0;
}

.navbar {
    height: 100%;
    position: fixed;
    border-right: 2px black solid;
    width: 250px;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

